<h2>Add Lesson</h2>
<form id="regForm" method="post" action="/instructors/classes/{{class_id}}/lessons/new">
	
	<div>
		<label>Lesson Number: </label>
		<input type="text" name="lesson_number">
	</div>
	<br />
	
	<div>
		<label>Lesson Title: </label>
		<input type="text" name="lesson_title">
	</div><br />
	
	<div>
		<label>Lesson Body: </label>
		<textarea name="lesson_body" id="lesson_body"></textarea>

		<script src="/javascripts/ckeditor/ckeditor.js"></script>
		<script>
			CKEDITOR.editorConfig = function( config ) {
				config.language = 'es';
				config.uiColor = '#F7B42C';
				config.height = 300;
				config.toolbarCanCollapse = true;
			};
			CKEDITOR.replace('lesson_body');
			CKEDITOR.e
		</script>
	</div>

	<br />
	
	<div>
		<input type="submit" value="Add Lesson">
	</div>
</form>